<!DOCTYPE html>
<html lang="en" ng-app="AnimateModule">
<head>
    <meta charset="UTF-8">
    <title>Animate</title>
    <link rel="stylesheet" href="static/asset/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/asset/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/asset/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<style>
    .page{
        bottom: 0;
        padding-top: 200px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
    .page h1{
        font-size: 60px;
    }
    .page a{
        margin-top: 50px;
    }
    .hello{
        background: #00D0BC;
        color:#FFFFFF;
    }
    .list{
        background: #E59400;
        color:#FFFFFF;
    }

</style>
<body>
    <div class="page {{pageClass}}" ng-view></div>
</body>
<script src="static/asset/angular-1.5.11/angular.js"></script>
<script src="static/asset/angular-1.5.11/angular-route.js"></script>
<script src="static/asset/angular-1.5.11/angular-animate.js"></script>
</html>