<!DOCTYPE html>
<html lang="en" ng-app="ChangeCSSModule">
<head>
    <meta charset="UTF-8">
    <title>通过双向数据绑定改变css</title>
    <link rel="stylesheet" href="static/asset/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<style>
    .text-red{
        background-color: #ff0000;
    }
    .text-green{
        background-color: #00ff00;
    }
</style>
<body>
    <div ng-controller="CSSCtrl">
        <p class="text-{{color}}">测试的CSS样式</p>
        <button class="btn btn-default" ng-click="setGreen()">绿色</button>
    </div>
</body>
<script src="static/asset/angular-1.5.11/angular.js"></script>
<script src="static/compoments/css/css.js"></script>
</html>