<!DOCTYPE html>
<html lang="en" ng-app="MyModule">
<head>
    <meta charset="UTF-8">
    <title>Date</title>
</head>
<body>
    {{ 1304375948024| date }}
    <br>
    {{ 1304375948024| date:"MM/dd/yyyy @h:mma" }}
    <br>
    {{ 1304375948024| date:"yyyy-MM-dd hh:mm:ss"}}
</body>
<script src="static/asset/angular-1.5.11/angular.js"></script>
<script src="static/compoments/date/date.js"></script>
</html>