<!DOCTYPE html>
<html lang="en" ng-app="MyModule">
<head>
    <meta charset="UTF-8">
    <title>Expender指令</title>
</head>
<body>
    <div ng-controller="SomeController">
        <expander class="expander" expander-title="title">
            {{text}}
        </expander>
    </div>
</body>
<script src="static/asset/angular-1.5.11/angular.js"></script>
<script src="static/compoments/expender/expender.js"></script>
</html>