<!DOCTYPE html>
<html lang="en" ng-app="MyModule">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>
</head>
<body>
    {{'东方海外'|filter1}}
</body>
<script src="static/asset/angular-1.5.11/angular.js"></script>
<script src="static/compoments/filter/filter.js"></script>
</html>