<!DOCTYPE html>
<html lang="en" ng-app="MyModule">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form name="myForm" ng-submit="save()" ng-controller="TestForModule">
        <input name="userName" type="text" ng-model="user.userName" required>
        <input name="password" type="password" ng-model="user.password" required>
        <input type="submit" ng-disabled="myForm.$invalid">
    </form>
</body>
<script src="static/asset/angular-1.5.11/angular.js"></script>
<script src="static/compoments/form/newForm.js"></script>
</html>