<!DOCTYPE html>
<html lang="en" ng-app="UserInfoModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>双线数据绑定</title>

    <link rel="stylesheet" href="static/asset/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">双向数据绑定</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal" role="form" ng-controller="UserInfoCtrl">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">
                            邮箱：
                        </label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" placeholder="请输入邮箱" ng-model="userInfo.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">
                            密码：
                        </label>
                        <div  class="col-lg-10">
                            <input type="password" class="form-control" placeholder="请输入密码" ng-model="userInfo.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <div class="checkbox" >
                                <label>
                                    <input type="checkbox" ng-model="userInfo.autoLogin">
                                    自动登录
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-log-2">
                            <button class="btn btn-default" ng-click="getFormData()">获取表单的值</button>
                            <button class="btn btn-default" ng-click="setFormData()">设置表单的值</button>
                            <button class="btn btn-default" ng-click="resetFormData()">重置表单的值</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
<script src="static/asset/angular-1.5.11/angular.js"></script>
<script src="static/compoments/form/form.js"></script>
</html>