<!DOCTYPE html>
<html lang="en" ng-app="NgClassModule">
<head>
    <meta charset="UTF-8">
    <title>ngclass</title>
    <link rel="stylesheet" href="static/asset/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<style>
    .error{
        background-color: #ff0000;
    }
    .warning{
        background-color: #00ff00;
    }
</style>
<body>
<div ng-controller="HeaderCtrl">
    <p ng-class="{error:isError,warning:isWarning}">{{messageText}}</p>
    <button class="btn btn-default" ng-click="showError()">Simulate Error</button>
    <button class="btn btn-default" ng-click="showWarning()">Simulate Warning</button>
</div>
</body>
<script src="static/asset/angular-1.5.11/angular.js"></script>
<script src="static/compoments/ngclass/ngclass.js"></script>
</html>