<!DOCTYPE html>
<html lang="en" ng-app="NgshowModule">
<head>
    <meta charset="UTF-8">
    <title>ngshow</title>
    <link rel="stylesheet" href="static/asset/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<style>
    .error{
        background-color: #ff0000;
    }
    .warning{
        background-color: #00ff00;
    }
</style>
<body>
<div ng-controller="DeathrayMenuCtrl">
    <button ng-click="toggleMenu()">Toggle Menu</button>
    <ul ng-show="menuState.show">
        <li ng-click="stun()">stun</li>
        <li ng-click="disintegrate()">Disintegrate</li>
        <li ng-click="erase()">Erase from history</li>
    </ul>
</div>
</body>
<script src="static/asset/angular-1.5.11/angular.js"></script>
<script src="static/compoments/ngshow/ngshow.js"></script>
</html>