<!DOCTYPE html>
<html lang="en" ng-app="MyModule">
<head>
    <meta charset="UTF-8">
    <title>scope的三种绑定</title>
    <link rel="stylesheet" href="static/asset/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
    <div ng-controller="MyCtrl">
        <drink flavor="{{ctrlFlavor}}"></drink>
    </div>
    <br>

    <div ng-controller="MyCtrl2">
        Ctrl:
        <br>
        <input type="text" ng-model="ctrlFlavor">
        <br>
        Directive:
        <br>
        <drink2 flavor="ctrlFlavor"></drink2>
    </div>
    <br>


    <div ng-controller="MyCtrl3">
        <greeting greet="sayHello(name)"></greeting>
        <greeting greet="sayHello(name)"></greeting>
        <greeting greet="sayHello(name)"></greeting>
    </div>
</body>
<script src="static/asset/angular-1.5.11/angular.js"></script>
<script src="static/compoments/scope/scope.js"></script>
</html>